<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Article Detail - sinueco</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= metaDescription %>" />
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/base.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Montserrat:400,700","Merriweather:300,400,700,900"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/images/sgj.png">
  <link rel="apple-touch-icon" href="/images/webclip.png">
</head>
<body>
 <%- partial("../../_shared/_mainNav") %>
  <div>
    <div class="w-container">
      <h1><%- title %></h1>
      <h5><%- date %></h5>
      <div class="post-container">
        <%- yield %>
        <div class="news-container">
          <div class="w-clearfix"><img class="avatar-newsleter" src="/images/10396290_10152892206755365_4682438174159401904_n.jpg" width="157" alt="54adc3bc3da5d656088c2eea_10396290_10152892206755365_4682438174159401904_n.jpg">
            <p class="newletter-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut&nbsp;</p>
          </div>
          <div class="w-form">
            <form class="newsletter-form" id="email-form" name="email-form" data-name="Email Form" action="#">
              <h4>receive my articles in your email</h4>
              <label class="label-newsletter" for="email">Email Address:</label>
              <input class="w-input" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
              <input class="w-button button" type="submit" value="Submit" data-wait="Please wait...">
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="w-container">
      <div class="text-footer">Sinue García Some Reserved Rights 2015&nbsp;</div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
